.rake_test_cache

.DS_Store
*~
# Bundler
Gemfile.lock

#RVM
.rvmrc
.ruby-version
.ruby-gemset

.bundle
.cache
.kitchen

tmp/*

Vagrantfile
tests/*
test/*
.vagrant

.berkshelf/*

# ignore cookbook berksfile lock
Berksfile.lock

# test-kitchen
.kitchen/
.kitchen.local.yml
